backports.lzma==0.0.8
matplotlib==2.0.2
nltk==3.2.5
numpy==1.13.1
python-dateutil==2.6.1
requests==2.18.4
scipy==0.19.1
simplejson==3.11.1
sner==0.2.3
subprocess32==3.2.7
tensorflow==2.9.3
ufal.udpipe==1.1.0.1
